body{
    background-color: rgb(235, 235, 235);
}

.lockscreen-item{
    background: transparent;
    margin-bottom: 1rem !important;
}

#asiste-usuario{
    position: relative;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
}

input[name="codigopersona"]{
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 4px;
}

input[name="codigopersona"]::placeholder{
    letter-spacing: 0px;
}

.text-dark{
    color: black !important;
}

.text-custom{
    font-size: 114%;
}

.lockscreen-logo{
    margin-bottom: 20px;
}

.help-block.text-idasistencia{
    margin-top: 0;
    margin-bottom: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mini-footer{
    position: absolute;
    bottom:0;
    width:298px !important;
    font-size: 93% !important;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    margin-bottom: .85rem;
}

@media screen and (max-height: 450px){
    .mini-footer{
        position: relative;
        bottom:0;
        width:298px;
        margin-left: auto;
        margin-right: auto;
        left:0;
        right:0;
        margin-top: 1.25rem;
    }
}